<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @template.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@template.picture_url, width: 600) if @template.picture.present? %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
